@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/*Configurações universais*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/*Configurações da página*/
html{
    min-width: 320px;
    max-width: 1400px;
}

/*Configurações da Body*/
body{
    width: 100%;
    background-color: rgb(206, 204, 204);
}

/* HEADER*/

header{
    width: 100%;
    height: 78vh;
    display: flex;
    justify-content: center;
    background-image: url('./Assets/star\ uó\ topo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.container1{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.container1 .starwars-star{
    width: 19vw;
    height: 12vh;
    position: absolute;
    top: 44vh;
    left: 25vw;
    background-image: url('./Assets/star.png');
    background-repeat: no-repeat;
    background-size: 19vw 9vh;
}

.container1 .starwars-wars{
    width: 19vw;
    height: 12vh;
    position: absolute;
    top: 44vh;
    right: 18vw;
    background-image: url('./Assets/wars.png');
    background-repeat: no-repeat;
    background-size: 19vw 9vh;
}

.container1 .kyloren-avatar{
    width: 55vw;
    height: 95vh;
    position: absolute;
    top: 1vh;
    left: 15.5vw;
    z-index: 1;
    background-image: url('./Assets/Kylo-Ren-banner\ sem\ fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.subcontainer {
    width: 10vw;
    height: 5vh;
    position: absolute;
    right: 8vw;
}

.subcontainer hr{
    width: 100%;
    margin: 2vh auto;
    border: 0.125vh solid black;
}

.container1 .subcontainer{
    width: 8vw;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 48vh;
    margin-right: 10vw;
    align-self: baseline;
}

.subcontainer .info-pages #text1{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
}

.subcontainer .banner-page{
    width: 100%;
    height: fit-content;
    margin-bottom: 1.5vh;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.subcontainer .banner-page #text2{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.banner-page #rect1{
    width: 0.75vw;
    height: 0.75vw;
    align-self: baseline;
    align-items: baseline;
    background-image: url('/Assets/proximo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #A9BDC1;
    transform: rotate(180deg);
}

.banner-page #rect2{
    width: 0.75vw;
    height: 0.75vw;
    align-self: baseline;
    align-items: baseline;
    background-image: url('/Assets/proximo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #A9BDC1;
}

/*MAIN*/

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

/*Configurando a secção 'ABOUT'*/
.about{
    width: 100%;
    height: 133vh;
    position: relative;
    display: flex;
    background-color: white;
    opacity: 1;
}

.about .battle-zone img{
    height: 133vh;
    position: relative
}

.about .about-the-game{
    width: 82vw;
    height: 45vh;
    margin: 10vh 0 0vw 12vw;;
    position: absolute;
    opacity: 1;
}

.about-the-game .start-to-play{
  width: 20vw;
  height: 60vh;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  bottom: 15vh;
  z-index: 2;
  background-image: url('./Assets/strom\ trupe\ red.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.start-to-play h1{
    width: min-content;
    font-size: 250%;
    font-weight: 600;
    text-transform: uppercase;
}

.start-to-play p{
    width: 84%;
    font-size: 81%;
    font-weight: 300;
}

.start-to-play button{
    width: 50%;
    height: 8.5%;
    font-size: 81%;
    font-weight: normal;
    color: #FFF;
    text-transform: uppercase;
    background-color: transparent;
    background-repeat: no-repeat;        
    overflow: hidden;
    outline: none;
    border: 2px solid #FFF;
    border-radius: 5px;
    cursor: pointer;
}

.about-the-game .battlefront{
    width: 50vw;
    height: 30vh;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0vw;
    opacity: 1;
}

.battlefront .text{
    width: 22vw;
    height: 30vh;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 26vw;
}

.text .text-title{
    width: 22 vw;
    height: 3vh;
    font-size: 115%;
    font-weight: bold;
    text-transform: uppercase;
}

.battlefront .text hr{
    width: 8vw;
    position: absolute;
    right: 0vw;
    bottom: 22.5vh;
    border: 0.125vh solid #000;
}

.text .text-content{
    width: 24vw;
    height: 20vw;
    font-size: 80%;
    position: absolute;
    top: 10vh;
    right: 0vw;
}

.battlefront figure{
    width: 25vw;
    height: 30vh;
    position: absolute;
    right: 0;
    background-image: url('./Assets/star\ wars\ frente\ de\ batalha.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/*Configurando o Break*/

.about hr{
    width: 82vw;
    margin: 60vh 0 0vw 12vw;
    position: absolute;
    z-index: 1;
    border: 0.3vh solid #707070;
}

/*Configurando GAME STRUCTURE*/
.about .game-structure{
    width: 82vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65vh;
    right: 4.5vw;
    justify-content: space-around;
    opacity: 1;
}

.game-structure .lord-sifh{
    width: 35vw;
    height: 75vh;
    position: absolute;
    left: 0vw;
    top: -2vh;
    z-index: 0;
    background-image: url('./Assets/lord\ sifh\ 2.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}

.game-structure .options{
    width: 27vw;
    height: 65vh;
    text-transform: uppercase;
    text-align: right;
    display: block;
    position: absolute;
    left: 28vw;
    opacity: 1;
}

.options h2{
    width: 14vw;
    height: 5vh;
    font-size: 200%;
    font-weight: normal;
    position: absolute;
    right: 0;
}

.options .text-options{
    width: 26.5vw;
    height: 40vh;
    font-size: 120%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 8vh;    
    justify-content: space-between;
}

.text-options p:hover{
    cursor: pointer;
    background: #D74430;
    color: white;
}

.game-structure .rey{
    width: 25vw;
    height: 75vh;
    position: absolute;
    right: 0vw;
    top: -0.5vh;
    background-image: url('./Assets/rey\ star\ wars.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}

/*Configurando a seção 'FEATURES'*/

.features{
    width: 100%;
    height: 250vh;
    display: flex;
    flex-direction: column;
    background-color: #2D2D2D;
}

.features h2{
    width: 14vw;
    height: 2vh;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    position: absolute;
    left: 14vw;
    top: 34%;
}

.features .graphs{
    width: 84vw;
    height: 60vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0;
    position: relative;
    left: 10vw;
    top: 25vh;
}

#img1{
    grid-area: 1 / 1 / span 4 / span 2;
    background-image: url('./Assets/134840-games-review-star-wars-battlefront-review-image1-NkRao9Jw12.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

#img2{
    grid-area: 1 / 3 / span 2 / span 1;
    background-image: url('./Assets/Security_stormtrooper_HUC2-FF-003301.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

#img3{
    grid-area: 1 / 4 / span 2 / span 1;
    background-image: url('./Assets/star\ game.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

#img4{
    grid-area: 3 / 3 / span 2 / span 1;
    background-image: url('./Assets/naves\ em\ batalha\ star\ wars.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

#img5{
    grid-area: 3 / 4 / span 2 / span 1;
    background-image: url('./Assets/stormtrup.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.graphs #img2 #img3 #img4 #img5{
    width: 25%;
    height: 23vh;
    background-color: turquoise;
    border: 2px solid black;
}

.hierarchy{
    width: 84vw;
    height: 110vh;
    position: relative;
    left: 10vw;
    top: 30vh;
    background-image: url('./Assets/star-wars_stormtrooper_hierarquia.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.features p{
    width: 45vw;
    height: 8vh;
    font-size: 80%;
    color: white;
    text-align: right;
    position: absolute;
    right: 4.5vw;
    bottom: 80vh;
}

.features #how-to-play{
    position: absolute;
    left: 50%;
    top: 85%;
}

.download{
    width: 100%;
    height: 40vh;
    display: flex;
    background-color: white;
}

.strm-silver{
    width: 28vw;
    height: 75vh;
    position: absolute;
    top: 80%;
    left: 10vw;
    z-index: 1;
    background-image: url('./Assets/stortm_trooper_capa_preta-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    width: 60%;
    height: 24vh;
    display: flex;
    align-self: center;
    justify-content: space-between;
    position: relative;
    left: 36vw;
    bottom: 5vh;
}

.container p{
    width: 10vw;
    height: 5vh;
    display: flex;
    font-size: 80%;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.4px;
    align-self: center;
}

.container .download-opt{
    width: 16vw;
    height: 24vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

.container #n01{
    font-size: 300%;
    font-weight: 300;
    display: flex;
    position: relative;
    bottom: 3vh;
    justify-content: center;
}

.container hr{
    width: 4vw;
    display: flex;
    position: relative;
    left: 6vw;
    border: 0.125vh solid black;
}

.container .box{
    width: 75%;
    height: 5vh;
    position: relative;
    left: 2vw;
    background-color:#000000;
}

.box .progress-bar{
    position: absolute;
    height: 100%;
    background-color: #D74430;
    animation: progress-animation 5s infinite;
}

@keyframes progress-animation{
    0% {width: 0%;}
    100% {width: 100%;}
}

.box p{
    font-size: 100%;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: white;
    display: flex;
    position: relative;
    left: 1vw;
    justify-content: center;
    align-items: center;
}

/*FOOTER*/

footer{
    width: 100%;
    height: 82vh;
    display: flex;
    background-color: white;
}

.orange{
    width: 150vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    background-color: #FF5A56;
}

.grid-container{
    width: 32vw;
    height: 90%;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    top: 5%;
    /*background-color: wheat;*/
}

.grid-container h2{
    font-size: 200%;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    position: relative;
    grid-area: 1 / 1 / span 1 / span 2;
}

.grid-container p{
    width: 25vw;
    height: 9vh;
    font-size: 80%;
    font-weight: 300;
    text-align: left;
    color: white;
    grid-area: 2 / 1 / span 1 / span 2;
}

.grid-container .google-play{
    width: 14vw;
    height: 7vh;
    background-image: url('./Assets/disponivel-google-play-badge.png');
    background-repeat: no-repeat;
    background-size: contain;    
    grid-area: 3 / 1 / span 1 / span 1;
}

.grid-container .apple-store{
    width: 14vw;
    height: 7vh;
    background-image: url('./Assets/baixar-na-app-store-botao-2-1024x304.png');
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: 3 / 2 / span 1 / span 1;
}

.grid-container .container-hr{
    grid-area: 4 / 1 / span 1 / span 2;
}

hr{
    width: 28vw;
    border: 0.3vh solid #D74430;
}

.grid-container .logo-star-wars{
    width: 13vw;
    height: 12vh;
    background-image: url('./Assets/esta\ uo.png');
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: 5 / 1 / span 1 / span 2;
}

.grid-container #txt2{
    grid-area: 7 / 1 / span 1 / span 2;
}

.darth-vader{
    width: 55vw;
    height: 89vh;
    position: relative;
    bottom: 12vh;
    right: 8vw;
    background-image: url('./Assets/darth_vader-sem\ fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

footer .footer-txt{
    width: 60vw;
    height: 8vh;
    font-size: 65%;
    text-align: left;
    color: #000000;
    position: relative;
    right: 16vw;
    top: 70vh;
}